@font-face{
    font-family: 'Montserrat-Regular';
    src: url(../Fuentes/Montserrat-Regular.ttf)
}
@font-face{
    font-family: 'Roboto';
    src: url(../Fuentes/Roboto-Regular.ttf);
}
body{
    background: #fff;
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: #898989;
    align-self: auto;
    display: flex;
    flex-direction: column;
}
        nav{
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            padding: 0 175px;
            margin: 0px;
            width: 1920px;
            background: #fff;
            border-bottom: #F0F0F0 2px solid;
            font-family: 'Yanone Kaffeesatz', sans-serif;
        }
            .div{
                color: #898989;
                display: flex;
                flex: 1 1 auto;
                flex-wrap: wrap;
                align-self: auto;
                align-content: center;
                justify-content: center;
                justify-self: center;
                align-self: center;
            }
.h{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.fas, .far{
margin: 0px;
font-size: 30px;
align-self: center;
padding: 20px;

}
.inicio{
    border-bottom:#898989 10px solid;
    border-bottom-left-radius: 5px;
    color: #898989;
    background: #fff;
    padding: 20px;

}
.pokédex{
    border-bottom:#E3350D 10px solid;
    background: #fff;
    padding: 20px;

}
.Aplicaciones{
    border-bottom: #EE6B2F 10px solid;
    background: #fff;
    padding: 20px;

}
.Juego{
    border-bottom: #E6BC2F 10px solid;
    background: #fff;
    padding: 20px;

}
.Tv{
    border-bottom: #4DAD5B 10px solid;
    background: #fff;
    padding: 20px;

}
.Play{
    border-bottom: #30A7D7 10px solid;
    background: #fff;
    padding: 20px;

}
.noticias{
    border-bottom:#1B51BF 10px solid;
    border-bottom-right-radius: 5px;
    background: #fff;
    padding: 20px;
}
.h{
    flex: 1 1 auto;
    height: 80px;
    margin: 0px;
    padding: 20px;

}
.barra{
    background: #F5F5F5;
    border-bottom: gray 1px solid;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 75px;
    box-shadow: #1F1F1F 0 20px;
}
/* contenido */
.containergeneral{
    background-color: #f1f1f1;
    margin: 20px 150px;
    border-radius: 30px;
}
.containertitulo{
    display: flex;
    justify-content: center;
}
.title{
    font-family: 'Roboto';
    color: silver;
}
.kantoinfo{
    color: gray;
    margin: 5px 200px;
}
.containermapa{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px 200px;
}
.containertext{
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
}
.containerimage{
    display: flex;
    justify-content: center;
}
.imag{
    width: 500px;
    height: 300px;
    border-radius: 20px;
}
*{
    box-sizing: border-box;
}
.slide-ciudades{
    max-width:500px;
  position: relative;
  margin: auto;
}
.slidediv{
    display: none;
}
.atras , .siguiente{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.siguiente{
    right: 0px;
    border-radius: 3px 0 0 3px;
}
.atras:hover , .siguiente:hover{
    background-color: rgba(77, 28, 28, 0.6);
}
.textoslide{
    color: #f1f1f1;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 2px;
  width: 100%;
  text-align: center;
  background-color: rgba(77, 28, 28, 0.6);
  border-radius: 0 0 20px 20px;
}
.numerador{
    color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background:rgba(77, 28, 28, 0.6);
  border-radius: 20px 0px 3px 0px;
}
.circulo{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgba(77, 28, 28, 0.6);
    border-radius: 25%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.block,.ast{
    display: block;
}
.active, .circulo:hover{
    background-color: #6d2b2b;
}
.fade {
    
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }








/* footer */
.footer{
    background: #1F1F1F;
    display: flex;
    flex-flow: row nowrap center;
    justify-content: center;
    padding: 20px;
}
    .company{
        background: #1F1F1F;
        padding: 0px;
        display: flex;
        border-right: #000000 2px solid;
        font-family: 'Propagan';
    }
    .social{
        background: #1F1F1F;
        padding: 20px;
        font-size: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        border-right: #000 2px solid;
    
    }
        .socia{
            margin: 10px;
        }
    .terminos{
        background:#1F1F1F;
        padding: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-start;
        text-decoration: underline;
    }
    .contenedor{
        margin: 0 75px;
    }
    .flex{
        display: flex;
        height: 500px;
        width: 500px;
    }
.inicio:hover{
    color: #fff;
    background: #898989;
}
.pokédex:hover{
    color: #fff;
    background: #E3350D;
}
.Aplicaciones:hover{
    color: #fff;
    background: #EE6B2F;
}
.Juego:hover{
    color: #fff;
    background: #E6BC2F;
}
.Tv:hover{
    color: #fff;
    background: #4DAD5B;
}
.Play:hover{
    color: #fff;
    background: #30A7D7;
}
.noticias:hover{
    color: #fff;
    background: #1B51BF;
}
a:hover{
    color: #fff;
}
.socia:hover{
    color: #fff;
}
li:hover{
    color: #fff;
}